[package]
name = "javascriptcore-rs"
version = "0.4.0"
authors = ["The Gtk-rs Project Developers"]

description = "Rust bindings for the javacriptcore library"
repository = "https://github.com/gtk-rs/javascriptcore-rs"
license = "MIT"
homepage = "http://gtk-rs.org"
keywords = ["javascript", "gtk-rs", "gnome"]

[lib]
name = "javascriptcore"

[dependencies.glib]
git = "https://github.com/gtk-rs/glib"
version = "^0.5.0"

[dependencies.javascriptcore-rs-sys]
git = "https://github.com/gtk-rs/javascriptcore-rs"
version = "0.1.1"
