[options]
library = "JavaScriptCore"
version = "4.0"
target_path = "."
min_cfg_version = "2.24"
work_mode = "normal"
girs_directories = [ "gir-files/" ]
deprecate_by_min_version = true
single_version_file = true

external_libraries = [
    "GLib",
    "GObject",
]

generate = [
    "JavaScriptCore.CheckSyntaxMode",
    "JavaScriptCore.CheckSyntaxResult",
    "JavaScriptCore.Class",
    "JavaScriptCore.ClassDeletePropertyFunction",
    "JavaScriptCore.ClassEnumeratePropertiesFunction",
    "JavaScriptCore.ClassGetPropertyFunction",
    "JavaScriptCore.ClassHasPropertyFunction",
    "JavaScriptCore.ClassSetPropertyFunction",
    "JavaScriptCore.ClassVariadicFunction",
    "JavaScriptCore.Constructor",
    "JavaScriptCore.Exception",
    "JavaScriptCore.ExceptionHandler",
    "JavaScriptCore.Getter",
    "JavaScriptCore.OptionsFunc",
    "JavaScriptCore.OptionType",
    "JavaScriptCore.PropertyGetter",
    "JavaScriptCore.PropertySetter",
    "JavaScriptCore.Setter",
    "JavaScriptCore.StringRef",
    "JavaScriptCore.ValuePropertyFlags",
    "JavaScriptCore.VariadicFunction",
    "JavaScriptCore.VirtualMachine",
]

manual = [
    "GLib.Bytes",
    "GLib.DestroyNotify",
    "GLib.OptionGroup",
    "GObject.Callback",
]

[[object]]
name = "JavaScriptCore.Context"
status = "generate"
generate_builder = true

[[object]]
name = "JavaScriptCore.Value"
status = "generate"
generate_builder = true

[[object]]
name = "JavaScriptCore.WeakValue"
status = "generate"
generate_builder = true

